.card {
    height: 205px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    .icon {
        width: 5.5rem;
        height: 5.5rem;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff!important;
        border-radius: 50%;
        margin-bottom: 1rem!important;

        svg {
            font-size: 2.25rem;
            font-weight: 900;
            color: #3f51b5;
        }
    }
}